//
// _tooltip.scss
//

@each $color,
$value in $theme-colors {
    .#{$color}-tooltip {
        --#{$prefix}tooltip-bg: var(--#{$prefix}#{$color}) !important;
    }
}

// Custom white tooltip for team members
.tooltip {
    --#{$prefix}tooltip-bg: #{$white};
    --#{$prefix}tooltip-color: #{$black};
    --#{$prefix}tooltip-opacity: 1;

    .tooltip-inner {
        background-color: $white !important;
        color: $black !important;
        border: 1px solid $gray-300;
        box-shadow: $box-shadow-lg;
        text-align: left;
        max-width: 300px;
    }

    .tooltip-arrow::before {
        border-top-color: $white !important;
        border-bottom-color: $white !important;
        border-left-color: $white !important;
        border-right-color: $white !important;
    }
}